﻿@model IEnumerable<ComputerStock.Models.ProcessorTypeTable>
@{
    ViewBag.Title = "Processor Types";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Processor Types</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="hdd_type_table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Processor Type</th>
                                <th>Processor Number</th>
                                <th>Clock Speed</th>
                                <th>Cache Memory</th>
                                <td>Cores</td>
                                <td>Threads</td>
                                <th>Generation</th>
                                <th>Quantity</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var p in Model)
                            {
                                <tr id="row_@p.p_type_id">
                                    <td>@p.p_company&reg; @p.p_type&trade; @p.p_name</td>
                                    <td>@p.p_number</td>
                                    <td>@p.clock_speed @p.clock_speed_unit</td>
                                    <td>@p.cache_memory @p.cache_memory_unit</td>
                                    <td>@p.cores</td>
                                    <td>@p.threads</td>
                                    <td>@p.generation</td>
                                    <td id="cell_@p.p_type_id">@p.item_quantity</td>
                                    <td>
                                        <a class="p_plus_one" data-ptypeid="@p.p_type_id" href="#"><i class="fa fa-lg fa-plus-square"></i></a>&nbsp;&nbsp;
                                        <a class="p_minus_one" data-ptypeid="@p.p_type_id" href="#"><i class="fa fa-lg fa-minus-square"></i></a>&nbsp;&nbsp;
                                        <a class="p_type_delete" data-ptypeid="@p.p_type_id" href="#"><i class="fa fa-lg fa-times-circle"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>


    @using (Html.BeginForm("AddProcessorType", "Admin", FormMethod.Post))
    {
        <div class="box box-info collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Add Processor Type</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <select class="form-control" name="p_company" required>
                                <option value="">Processor Company</option>
                                <option value="Intel">Intel</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <select class="form-control" name="p_type" required>
                                <option value="">Processor Type</option>
                                <option value="Core">Core</option>
                                <option value="Pentium">Pentium</option>
                                <option value="Celron">Celron</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <select class="form-control" name="p_name" required>
                                <option value="">Processor Name</option>
                                <option value="i7">i7</option>
                                <option value="i5">i5</option>
                                <option value="i3">i3</option>
                                <option value="4">4</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <input type="text" class="form-control" placeholder="Processor Number" name="p_number" required />
                    </div>
                    <div class="col-xs-2">
                        <input type="number" class="form-control" placeholder="Cache Memory" name="cache_memory" required />
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <select class="form-control" name="cache_memory_unit" required>
                                <option value="">Memory Unit</option>
                                <option value="KB">KB</option>
                                <option value="MB">MB</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <input type="text" class="form-control" placeholder="Clock Speed" name="clock_speed" required />
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <select class="form-control" name="clock_speed_unit" required>
                                <option value="">Clock Speed Unit</option>
                                <option value="MHz">MHz</option>
                                <option value="GHz">GHz</option>
                            </select>
                        </div>
                    </div>  
                    <div class="col-xs-2">
                        <input type="number" class="form-control" min=0 placeholder="Processor Cores" name="cores" required />
                    </div>
                    <div class="col-xs-2">
                        <input type="number" class="form-control" min=0 placeholder ="Processor Threads" name="threads" required />
                    </div>
                    <div class="col-xs-2">
                        <input type="number" class="form-control" min=0 placeholder="Processor Generation" name="generation" />
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-sm btn-info btn-flat pull-left" type="submit">&nbsp;&nbsp;<i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;ADD</button>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
    <!-- /.box -->
    }

</section>
<!-- /.content -->
@section scripts_RamTypes {
    <script>
        //----------------------------------------//
        //--- Delete HDD Type ---//
        $(".p_type_delete").click(function () {
            var pTypeId = $(this).data("ptypeid");

            $.ajax({
                method: "POST",
                url: "/Admin/DeleteProcessorType",
                data: { pTypeId: pTypeId },
                success: function (response) {
                    if (response == "True") {
                        $("#row_" + pTypeId).fadeOut("slow");
                    }
                    else {
                        console.log(response);
                        alert("Cannot Delete . Quantity is not zero.");
                    }
                }
            });
        });
        //--- END ---//
        //--- Item Plus One ---//
        $(".p_plus_one").click(function () {
            var pTypeId = $(this).data("ptypeid");

            $.ajax({
                method: "POST",
                url: "/Admin/ItemPlusOne",
                data: { itemTypeId: pTypeId },
                success: function (response) {
                    $("#cell_" + pTypeId).text(response);
                }
            });
        });
        //--- END ---//
        //----------------------------------------//
        //--- Item Minus One ---//
        $(".p_minus_one").click(function () {
            var pTypeId = $(this).data("ptypeid");

            $.ajax({
                method: "POST",
                url: "/Admin/ItemMinusOne",
                data: { itemTypeId: pTypeId },
                success: function (response) {
                    $("#cell_" + pTypeId).text(response);
                }
            });
        });
        //--- END ---//

    </script>
}