﻿@model IEnumerable<ComputerStock.Models.RamTypeTable>
@{
    ViewBag.Title = "RamType";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Main content -->
<section class="content">

    @if (ViewBag.AddRamResponse == 1)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>
                    Success!!! Ram Type added.
                </div>
            </div>
        </div>
    }
    else if (ViewBag.AddRamResponse == 2)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                    Unsuccessfull!!! Ram Type not added. TRY again.
                </div>
            </div>
        </div>
    }


    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Ram Types</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="ram_type_table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Ram Type</th>
                                <th>Memory</th>
                                <th>Clock Speed</th>
                                <th>Is Laptop Ram</th>
                                <th>Quantity</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ram in Model)
                            {
                                <tr id="row_@ram.ram_type_id">
                                    <td>@ram.ram_type</td>
                                    <td>@ram.memory_size&nbsp;@ram.memory_unit</td>
                                    <td>@ram.clock_speed&nbsp;@ram.clock_speed_unit</td>
                                    <td>
                                        @if (ram.is_laptop_ram)
                                        {
                                            <i class="fa fa-check fa_bg_green" aria-hidden="true"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-times fa_bg_red" aria-hidden="true"></i>
                                        }
                                    </td>
                                    <td id="@ram.ram_type_id">@ram.item_quantity</td>
                                    <td>
                                        <a class="ram_plus_one" data-ramtypeid="@ram.ram_type_id" href="#"><i class="fa fa-lg fa-plus-square"></i></a>&nbsp;&nbsp;
                                        <a class="ram_minus_one" data-ramtypeid="@ram.ram_type_id" href="#"><i class="fa fa-lg fa-minus-square"></i></a>&nbsp;&nbsp;
                                        <a class="ram_type_delete" data-ramtypeid="@ram.ram_type_id" href="#"><i class="fa fa-lg fa-times-circle"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        @*<tfoot>
                                <tr>
                                    <th>Ram Type</th>
                                    <th>Memory</th>
                                    <th>Clock Speed</th>
                                </tr>
                            </tfoot>*@
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- TABLE: LATEST ORDERS -->
    @using (Html.BeginForm("AddRamType", "Admin", FormMethod.Post))
    {
        <div class="box box-info collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Add Ram Type</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                    @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-1">
                        <input type="text" class="form-control" placeholder="Ram Type" name="ram_type" required />
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <select class="form-control" name="memory_size" required>
                                <option value="">Memory Size</option>
                                <option value="128">128</option>
                                <option value="256">256</option>
                                <option value="512">512</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="4">4</option>
                                <option value="8">8</option>
                                <option value="16">16</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <select class="form-control" name="memory_unit" required>
                                <option value="">Memory Unit</option>
                                <option value="MB">MB</option>
                                <option value="GB">GB</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <input type="text" class="form-control" placeholder="Clock Speed" name="clock_speed" required />
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <select class="form-control" name="clock_speed_unit" required>
                                <option value="">Clock Speed Unit</option>
                                <option value="MHz">MHz</option>
                                <option value="GHz">GHz</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <select class="form-control" name="is_laptop_ram" required>
                                <option value="">Is Laptop Ram?</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <button class="btn btn-sm btn-info btn-flat pull-left" type="submit">&nbsp;&nbsp;<i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;ADD</button>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
    <!-- /.box -->
    }
</section>
<!-- /.content -->
@section scripts_RamTypes {
    <script>
        //--- Item Plus One ---//
        $(".ram_plus_one").click(function () {
            var ramQuantityCellId = $(this).data("ramtypeid");
            console.log("ramid : " + ramQuantityCellId);

            $.ajax({
                method: "POST",
                url: "/Admin/ItemPlusOne",
                data: { itemTypeId: ramQuantityCellId },
                success: function (response) {
                    console.log(response);
                    $("#" + ramQuantityCellId).text(response);
                }
            });
        });
        //--- END ---//
        //----------------------------------------//
        //--- Item Minus One ---//
        $(".ram_minus_one").click(function () {
            var ramQuantityCellId = $(this).data("ramtypeid");
            console.log("ramid : " + ramQuantityCellId);

            $.ajax({
                method: "POST",
                url: "/Admin/ItemMinusOne",
                data: { itemTypeId: ramQuantityCellId },
                success: function (response) {
                    console.log(response);
                    $("#" + ramQuantityCellId).text(response);
                }
            });
        });
        //--- END ---//
        //----------------------------------------//
        //--- Delete Ram Type ---//
        $(".ram_type_delete").click(function () {
            var ramTypeId = $(this).data("ramtypeid");
            console.log("ramid : " + ramTypeId);

            $.ajax({
                method: "POST",
                url: "/Admin/DeleteRamType",
                data: { ramTypeId: ramTypeId },
                success: function (response) {
                    if (response == "True") {
                        console.log(response);
                        $("#row_" + ramTypeId).fadeOut("slow");
                    }
                    else {
                        console.log(response);
                        alert("Cannot Delete . Quantity is not zero.");
                    }
                }
            });
        });
        //--- END ---//
    </script>
}