﻿       
<style>
    .see {
    float: right;
    padding-top: 4px;
}
  .see p a{
	display: inline;
	font-size: 0.8125em;
	color: #333;
	background: url(/Content/User_Theme/images/back-img.png
        ) no-repeat right 2px;
    padding:0px 12px 0px 0px;
}

  .content_top {
    padding: 8px 20px;
    border: 1px solid #EBE8E8;
    border-radius: 3px;
}
</style>

 <div class="content_top">
            <div class="heading">
                <h3>@ViewBag.HddSize&ldquo; HDD</h3>
            </div>
            <div class="see">
                <p><a href="#" id="hdd_size_back_btn">Back</a></p>
            </div>
            <div class="clear"></div>
        </div>


<div class="section group">
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#" class="hdd_sub_type" data-hdd_size="@ViewBag.HddSize" data-hdd_sub_type="sata">
            <span class="image_text">
                SATA
            </span>
        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#" class="hdd_sub_type" data-hdd_size="@ViewBag.HddSize" data-hdd_sub_type="sata"><b>HDD @ViewBag.HddSize&ldquo;</b></a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#" class="hdd_sub_type" data-hdd_size="@ViewBag.HddSize" data-hdd_sub_type="ide">
            <span class="image_text">
                IDE
            </span>
        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#" class="hdd_sub_type" data-hdd_size="@ViewBag.HddSize" data-hdd_sub_type="ide">HDD @ViewBag.HddSize&ldquo;</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>







