﻿<style>
    .see {
        float: right;
        padding-top: 4px;
    }

    .see p a {
            display: inline;
            font-size: 0.8125em;
            color: #333;
            background: url(/Content/User_Theme/images/back-img.png ) no-repeat right 2px;
            padding: 0px 12px 0px 0px;
        }
     .content_top {
        padding: 8px 20px;
        border: 1px solid #EBE8E8;
        border-radius: 3px;
    }
    </style>

<div class="content_top">
    <div class="heading">
        <h3>@ViewBag.RamSize RAM</h3>
    </div>
    <div class="see">
        <p><a href="#" id="ram_size_type_back_btn">Back</a></p>
    </div>
    <div class="clear"></div>
</div>

<div class="section group">
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#" class="ddr_type" data-ddr_type="1" data-ram_size="@ViewBag.RamSize">
            <span class="image_text">DDR<br />1</span>
        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#" class="ddr_type" data-ddr_type="1" data-ram_size="@ViewBag.RamSize">DDR 1</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#" class="ddr_type" data-ddr_type="2" data-ram_size="@ViewBag.RamSize">
            <span class="image_text">DDR<br />2</span>
        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#" class="ddr_type" data-ddr_type="2" data-ram_size="@ViewBag.RamSize">DDR 2</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#" class="ddr_type" data-ddr_type="3" data-ram_size="@ViewBag.RamSize">
            <span class="image_text">DDR<br />3</span>

        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#" class="ddr_type" data-ddr_type="3" data-ram_size="@ViewBag.RamSize">DDR 3</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#" class="ddr_type" data-ddr_type="4" data-ram_size="@ViewBag.RamSize">
            <span class="image_text">DDR<br />4</span>
        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#" class="ddr_type" data-ddr_type="4" data-ram_size="@ViewBag.RamSize">DDR 4</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>


