﻿body {
}

.image_text {
    width: 212px;
    height: 150px;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight:700;
    color:#4a4949;
}
.ram_size_type_image_text {
    width: 212px;
    height: 150px;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight:700;
    color:#4a4949;
}
.processor_image_text{
    width: 212px;
    height: 150px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight:600;
    color:#4a4949;
}
.processor_image_head{
    width: 212px;
    height: 150px;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight:600;
    color:#4a4949;
}
.processor_image_body{
    width: 212px;
    height: 150px;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight:600;
    color:#4a4949;
}

.service_image{
    width:100%;
    height: 210px !important;
    box-shadow: 0px 0px 15px; 
}


    .out_of_stock {
        font-size: 0.9em;
        display: block;
        padding: 10px 15px;
        font-family: 'ambleregular';
        background: #3e3b3b;
        color: #FFF;
        text-decoration: none;
        outline: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }