﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="main">
    <div class="content">
        <div class="section group">
            <div class="col_1_of_3 span_1_of_3">
                <img src="~/Content/User_Theme/images/about_img.jpg" alt="">
                <p></p>
            </div>
            <div class="col_1_of_3 span_1_of_3" style="width:50%;">
                <h3>Who We Are</h3>
                <div class="history-desc">
                    <p class="history">
                        We deal in all types of Computer parts since 2000. We buy and sell old computer parts which are in excellent working condition.
                        Also, deal in dead assets from banks, offices, companies, institutes, etc. and providing better solution to them. 
                        We take bulk orders also and give a wonderful deal to buyer and they enjoy full service support from us any time.   
                        <br />
                       <br />
                        <span style="color:#c10000;font-size:14px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                        "Customer Satisfaction is our main MOTTO" 
                        </span>

                        <br />
                        <br />
                        <br />
                        <br />
                    </p>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>

