﻿@{
    ViewBag.Title = "EWaste";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    .ewaste_heading {
        color: whitesmoke;
        background-color: #c60000;
        font-size: 32px;
        font-weight: 600;
        font-family: cursive;
        border-radius: 7px;
    }
    .images_1_of_4_design{
            width:100%;
    height: 210px !important;
    box-shadow: 0px 0px 15px; 
    }
</style>

<div class="main">
    <div class="content">
        <div class="content_top ewaste_heading" style="text-align:center">
            <span>&quot; WE BUY E-WASTE &quot;</span>
        </div>
    </div>
    <div class="content">
        <div class="image group">
            <div class="grid images_3_of_1">
                <img src="~/Content/User_Theme/images/e_waste_1.jpg" class="service_image" alt="" />
            </div>
            <div class="grid news_desc">
                <h3>What is E-Waste?</h3>
                <p>Electronic waste, or e-waste, is a term for electronic products that have become unwanted, non-working or obsolete, and have essentially reached the end of their useful life. Because technology advances at such a high rate, many electronic devices become “trash” after a few short years of use. In fact, whole categories of old electronic items contribute to e-waste such as VCRs being replaced by DVD players, and DVD players being replaced by blu-ray players. E-waste is created from anything electronic: computers, TVs, monitors, cell phones, PDAs, VCRs, CD players, fax machines, printers, etc.</p>
            </div>
        </div>
        <div class="image group">
            <div class="grid images_3_of_1">
                <img src="~/Content/User_Theme/images/e_waste_3.jpg" class="service_image" alt="" />
            </div>
            <div class="grid news_desc">
                <h3>Help Solve The E-Waste Problem</h3>
                <p>Solving the e-waste problem starts with education, and habit changes as a result of knowledge. Most people are trained to recycle a newspaper, bottles, and cans. Almost anything electronic in nature can be recycled properly with effort. Some municipalities have transfer stations that accept e-waste, and of course, Electronix Redux accepts e-waste for recycling. It is important that any e-waste processor is fully certified in safe destruction and follow certified documented procedures to safely dispose of electronic waste. Ask questions before you recycle! Some unscrupulous recyclers ship e-waste overseas where it is disposed of improperly, posing a threat to the environment and its' people.</p>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="section group">
            <div class="grid_1_of_4 images_1_of_4">
                <span><img src="~/Content/User_Theme/images/e_waste_4.jpg" alt="" class="images_1_of_4_design" /></span>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <span><img src="~/Content/User_Theme/images/e_waste_5.jpg" alt="" class="images_1_of_4_design" /></span>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <span><img src="~/Content/User_Theme/images/e_waste_7.jpg" alt="" class="images_1_of_4_design" /></span>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <span><img src="~/Content/User_Theme/images/e_waste_8.jpg" alt="" class="images_1_of_4_design" /></span>
            </div>


        </div>
    </div>
</div>